/*
 * Basic Styles
 *
 * Базовые стили
 */

html {
  height: 100%;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  line-height: 1.6;
  font-family:  BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans;
  padding: 0;
  margin: 0;
}

.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-base { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }

.white { color: #f3f4f6; }

.p40 { padding: 40px; }
.mb50 { margin-bottom: 50px; }

.text-max-w500 {
  max-width: 500px;
  color: #fff;
  font-size: 18px;
}

body.dark {
  filter: invert(100%) hue-rotate(180deg);
  background-color: #222;
}

body.dark .bg-white { background-color: #f3f4f6; }
body.dark img { filter: invert(100%); }
body.dark header { background: #ddd; color: #000;}
body.dark .navbar a,
body.dark .text-max-w500 { color: #000;}
body.dark #toggledark svg { fill: #333; }

body.dark .button-large {
  color: #111;
  border: 1px solid #111;
}

body.dark .button-large:hover {
  color: #000;
  background: #eee;
}

a {
  color: #4183c4;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #1e70bf;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}

.bg {
    background: #28a5f5;
}

img {
  border-radius: 3px;
  vertical-align: middle;
}

header {
  background: #28a5f5;
  color: #fff;
}

.logo {max-width: 200px;}

.wrap {
  margin: 0 auto;
  height: 100%;
  max-width: 1336px;
  padding-left: 25px;
  padding-right: 25px;
}

#contentWrapper {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

main {
  width: calc(100% - 360px);
}

.w-100 { width: 100%; }
main img { max-width: 99%; }
.home-img { max-width: 780px; }

aside {
  width: 360px;
  margin-top: 60px;
  margin-left: 50px;
}

.navbar {
  display: flex;
  position: relative;
}

.navbar a {
  color: #fff;
  min-height: 80px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

#toggledark {
  margin-left: auto;
  align-items: center;
  display: flex;
}

#toggledark svg { fill: #fff; }

#box-head {
  position: sticky;
  top: 20px;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.975rem;
}

a.anchor {
  color: #333;
}
a.anchor:target {
  color: #4183c4;
}

blockquote {
  margin-left: 15px;
  background-color: #f3f3f6;
  padding: 0.1rem 1rem;
  border-left: 3px solid #d2d6dd;
  display: table;
}

.button-large {
  color: #fff;
  border: 1px solid #fff;
  padding: 0 40px;
  line-height: 53px;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
  border-radius: 500px;
}

.button-large:hover {
  color: #fff;
  background: #1f9ae8;
}

.box-flex {
  display: flex;
  gap: 2rem;
  display: flex;
  padding: 0 50px 40px 50px;
  align-items: center;
  justify-content: center;
}

.external-url:after {
  content: "🔗";
  font-family: bootstrap-icons;
  color: #eee;
  vertical-align: middle;
  font-size: 13px;
  margin-left: 3px;
}

code {
  color: #9b4f5e;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

@media (max-width: 890px) {
  aside { display: none; }
  main { width: 100%; }
  .logo {max-width: 100px;}

  .text-max-w500 {
    margin: 0 auto;
    padding-top: 20px;
  }

  .box-flex {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .button-large {
    padding: 5px 10px;
    margin: 0 10px;
  }

}